PORT=3001
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
# Optional overrides:
# AZURE_ISSUER=https://login.microsoftonline.com/<tenant>/v2.0
# AZURE_JWKS_URI=https://login.microsoftonline.com/<tenant>/discovery/v2.0/keys
